body {   
     background-color: lightgrey;
}

* {
    font-family: courier;
}

input[type=button] {
	background-color: white;
	width: 180px;
}

input[type=number], input[type=text]  {
	width: 350px;
}
